@charset "utf-8";
/* CSS Document */

/* Statti CSS v1.0 by Angelo Mazzilli */
/* http://themeforest.net/user/AngeloM */

/* Google Font Roboto */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);

/* General */
* {
	outline: none !important;
}
html {
	overflow-x: hidden;
}

body {
	background-color: #171b26;
	background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg {
	width: 100%;
	height: 100%;
}
/* Typography */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 300;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, p span {
	font-weight: 700;
}
.main-title {
	margin: 0 auto 15px;
	padding: 19px;
	max-width: 300px;
	border: 1px solid #FFF;
	display: block;
}
a {
	text-decoration: none;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
a:hover, a:focus {
	text-decoration: none;
}
p a {
	color: #FFF;
}
p a:hover {
	color: #333;
}
hr {
	margin: 0;
	padding-bottom: 49px;
	border: 0;
	border-top: 1px dashed rgba(255,255,255,0.5);
	border-bottom: none;
}
.ang {
	background-color: transparent;
    border: none;
    color: white;
    padding-left: 50px;
    width: 400px;
}

.no-margin {
	margin: 0;
}
.margin-bottom {
	margin-bottom: 40px;
}
.lead {
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	text-align: center;
}
.hero-unit {
	padding: 50px;
	margin-bottom: 50px;
	font-weight: 300;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
}

.ynbt {
	width: 168px;
}

.ynbt .btn {

}

.ynbt .btnno {
	width: 70px;
}

#free_users {
	display: none;
}

/* Sections */
.section {
    display: none;
	width: 150px;
	height: 150px;
	position: absolute;
	top: 30%;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.section:hover {
	cursor: pointer;
}

.addroom {
	height: 70px;
	cursor: pointer;
}

.addroom i{
	margin-top: 10px;
    padding: 15px;
    width: 15px;
    height: 15px;
    background: rgba(255, 236, 8, 0.76);
    border-radius: 100%;
    font-size: 20px;
    line-height: 15px;
    color: #FFF;
    margin-right: 10px;
}

.addroom:hover i{
	margin-top: 10px;
    padding: 20px;
    width: 20px;
    height: 20px;
    background: rgba(255, 236, 8, 0.76);
    border-radius: 100%;
    font-size: 25px;
    line-height: 15px;
    color: #FFF;
    margin-right: 10px;
    transition: all linear 0.25s; */
    -ms-transition: all linear 0.25s;
    -moz-transition: all linear 0.25s;
    /* -webkit-transition: all linear 0.25s; */
    -o-transition: all linear 0.25s;
}

.room {
	height: 70px;
	cursor: pointer;
	display: -webkit-inline-box;
}

.room p {
    margin-top: -10px;
    color: rgba(255, 255, 255, 0.49);
    font-size: 13px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin-top: -10px;
}

.room h3, h4, h5, h6 {
	margin: 0;
	font-weight: 300;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align: left;
	text-transform: none;
	padding-top: 10px;
}

.room i{
	margin-top: 10px;
    padding: 15px;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,0.25);
    border-radius: 100%;
    font-size: 25px;
    line-height: 15px;
    color: #FFF;
    margin-right: 10px;
}

.room .fa-users{
    font-size: 15px;
}

.room:hover i{
	margin-top: 5px;
    padding: 18px;
    width: 18px;
    height: 18px;
    background: rgba(255,255,255,0.25);
    border-radius: 100%;
    font-size: 34px;
    line-height: 15px;
    transition: all linear 0.25s; */
    -ms-transition: all linear 0.25s;
    -moz-transition: all linear 0.25s;
    /* -webkit-transition: all linear 0.25s; */
    -o-transition: all linear 0.25s;
}

.room:hover .fa-users{
    font-size: 20px;
}

.closed-room i{
    color: red;
}

.roomlb {
    min-width: 150px;
    width: 100%;
}
.roomusers{
    width: 100%;
}
.roomusersls {
    margin: 0 auto;
    width: 100px;
    font-size: 12px;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    color: rgba(240, 255, 255, 0.72);
}

.section.section-expand {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	top: 0;
	right: 0 !important;
	z-index: 2;
}
.section.section-expand:hover {
	cursor: default;
	animation: none;
	-webkit-animation: none;
}

.section#fortwo {
	right: 55%;
}
.section#forfour {
	right: 35%;
}

.section-fortwo i, .section-forfour i {
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	text-align: center;
	opacity: 0.5;
	display: block;
	float: left;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.section-fortwo i:hover, .section-forfour i:hover {
	background: rgba(0,0,0,0.1);
	font-size: 30px;
	opacity: 1;
}
.section-fortwo i.active {
	font-size: 30px;
	opacity: 1;
}
.section-forfour i.active {
	font-size: 30px;
	opacity: 1;
}

.section-close {
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0.1);
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	line-height: 50px;
	color: #FFF;
	text-align: center;
	display: none;
	position: absolute;
	top: 95px;
	right: 0;
	z-index: 10;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.section-close:hover {
	background: rgba(0,0,0,0.25);
	color: #FFF;
}

.section-signout {
	width: 50px;
	height: 50px;
	font-size: 24px;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	line-height: 50px;
	color: rgba(255, 255, 255, 0.44);
	text-align: center;
	display: none;
	position: absolute;
	top: 5px;
	right: 0;
	z-index: 10;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.section-signout:hover {
	color: #FFF;
}

.icon-label {
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0.1);
	line-height: 50px;
	color: #FFF;
	text-align: center;
	display: block;
	position: absolute;
	top: 95px;
	right: -50px;
	z-index: 10;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.icon-label:hover {
	background: rgba(0,0,0,0.25);
	color: #FFF;
}

/* Switch Menu Title */
.section .section-title {
	margin: 15px 0;
	text-align: center;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.section.section-expand .section-title {
	margin: 50px auto;
}
.section .section-title strong {
	margin: 0;
	font: 300 20px/20px Open Sans, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-transform: uppercase;
	display: block;
}
.section.section-expand .section-title strong {
	font-size: 50px;
	line-height: 50px;
}
.section .section-title p {
	margin: 0;
	font: 300 14px/20px Open Sans, Arial, Helvetica, sans-serif;
	color: rgba(255,255,255,0.75);
}
.section.section-expand .section-title p {
	font-size: 20px;
	line-height: 20px;
}
.section.section-expand .section-title p span {
	font-weight: 700;
}
.section .section-title i {
	margin: 0 auto 0px;
	margin-top: 10px;
	width: 30px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	color: rgba(255,255,255,0.5);
	text-align: center;
	display: block;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.section:hover .section-title i {
	margin-top: -5px;
	width: 50px;
	height: 50px;
	font-size: 50px;
	line-height: 50px;
	color: #FFF;
}
.section.section-expand .section-title i {
	margin-top: 10px;
	padding: 20px;
	width: 100px;
	height: 100px;
	background: rgba(255,255,255,0.25);
	border-radius: 100%;
	font-size: 100px;
	line-height: 100px;
	color: #FFF;
}
.section.section-expand .section-title:hover i {
	opacity: 0.75;
}


.section.section-expand .section-title {
	padding-right: 80%;
}
.section .container {
	margin: auto;
	display: none;
}
.section.section-expand .container {
	display: block;
    margin-top: -300px;
    width: 600px;
    margin-left: 250px;
}


/* Thumbnails */
.thumbnails li {
	margin: 0;
	background: rgba(255,255,255,0);
	border-radius: 10px;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.thumbnails li:nth-child(2n+2) {
	background: rgba(255,255,255,0.25);
}
.thumbnails li:hover {
	background: rgba(0,0,0,0.1);
}
.thumbnails li .thumbnail {
	padding: 20px 0;
	border: none;
	box-shadow: none;
	text-align: center;
}
.thumbnails li .thumbnail i {
	margin: auto;
	width: 100px;
	height: 100px;
	font-size: 80px;
	line-height: 100px;
	color: #FFF;
	text-align: center;
	display: block;
	transition: all linear 0.15s;
	-ms-transition: all linear 0.15s;
	-moz-transition: all linear 0.15s;
	-webkit-transition: all linear 0.15s;
	-o-transition: all linear 0.15s;
}
.thumbnails li:hover .thumbnail i {
	font-size: 90px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
.thumbnails li .thumbnail .social-links a {
	width: 30px;
	height: 30px;
	text-align: center;
	display: inline-block;
}
.thumbnails li .thumbnail .social-links i {
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	color: #999;
	text-shadow: none;
	transition: all linear 0.15s;
	-ms-transition: all linear 0.15s;
	-moz-transition: all linear 0.15s;
	-webkit-transition: all linear 0.15s;
	-o-transition: all linear 0.15s;
}
.thumbnails li .thumbnail .social-links a:hover i {
	color: #333;
}
.thumbnails li .thumbnail .thumb {
	margin: 20px auto;
	transition: all linear 0.15s;
	-ms-transition: all linear 0.15s;
	-moz-transition: all linear 0.15s;
	-webkit-transition: all linear 0.15s;
	-o-transition: all linear 0.15s;
}
.thumbnails li:hover .thumbnail .thumb {
	border-radius: 100%;
	box-shadow: 0 10px 0 rgba(255,255,255,0.35), 0 -10px 0 rgba(0,0,0,0.15), 10px 0 0 rgba(255,255,255,0.35), -10px 0 0 rgba(0,0,0,0.15);
	transform: scale(0.8, 0.8);
	-ms-transform: scale(0.8, 0.8);
	-moz-transform: scale(0.8, 0.8);
	-webkit-transform: scale(0.8, 0.8);
	-o-transform: scale(0.8, 0.8);
}
.thumbnails li .thumbnail h5 {
	margin-bottom: 5px;
}
.thumbnails li .thumbnail p {
	margin-bottom: 20px;
	font-size: 12px;
}

/* Progress Bar */
.progress {
	margin-bottom: 50px;
	height: 40px;
	background: rgba(0,0,0,0.1);
	border-radius: 5px;
	filter: none;
	box-shadow: none;
}
.progress-title {
	margin-bottom: 10px;
}
.progress .bar {
	text-shadow: none;
	background: #FFF;
	filter: none;
	box-shadow: none;
}

/* Products Filter */
.filter {
	margin-bottom: 40px;
	margin-left: 0;
	padding: 14px 0;
	border-top: 1px dashed rgba(255,255,255,0.5);
	border-bottom: 1px dashed rgba(255,255,255,0.5);
	line-height: 30px;
	text-align: center;
}
.filter p {
	margin-bottom: 0;
}
.filter p a {
	margin: 0 10px;
	font-size: 14px;
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-transform: uppercase;
}
.filter p a:hover, .filter p a.active {
	color: #333;
}

.ruserlist {
    left: 160px;

}

.luserlist {
    left: -160px;
    text-align: right;
}

/* ScrollBar */
.nicescroll-rails {
	width: 5px !important;
	height: 100% !important;
	background: none !important;
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	left: inherit !important;
	z-index: 10 !important;
}
.nicescroll-rails div {
	width: 5px !important;
	background: rgba(0,0,0,0.5) !important;
	border: none !important;
	border-radius: 0 !important;
}

/* Change Color */
.change-white {
	width: 50px;
	height: 50px;
	background: #FFF;
	position: absolute;
	bottom: 100px;
	left: 0;
}
.change-black {
	width: 50px;
	height: 50px;
	background: #333;
	position: absolute;
	bottom: 50px;
	left: 0;
}
.change-multi {
	width: 50px;
	height: 50px;
	background: url(../img/multi.jpg) no-repeat 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* Desktop large layout */
@media (min-width: 1200px) {
}

/* Desktop small layout */
@media (min-width: 980px) and (max-width: 1199px) {
.logo {
	margin-top: -150px;
}
.section {
	margin-top: 0;
}
.contact-form input[type=text], .contact-form textarea {
	min-width: 220px;
	width: 220px;
	max-width: 220px;
}
.contact-form button, .contact-form button:hover, .contact-form button:focus {
	width: 160px;
}
}

/* Tablet layout */
@media (min-width: 768px) and (max-width: 979px) {
.logo {
	margin-top: -150px;
}
.section {
	margin-top: 0;
}
.contact-form input[type=text], .contact-form textarea {
	min-width: 145px;
	width: 145px;
	max-width: 145px;
}
.contact-form button, .contact-form button:hover, .contact-form button:focus {
	width: 169px;
}
}

/* Mobile landscape layout */
@media (min-width: 480px) and (max-width: 767px) {
body {
	padding-right: 0;
	padding-left: 0;
}
.section {
	width: 96px;
	height: 96px;
}
.section .section-title {
	margin: 33px 0;
}
.section .section-title strong, .section .section-title p {
	display: none;
}

.contact-form input[type=text], .contact-form textarea {
	margin: 0 auto 10px;
	min-width: 300px;
	width: 300px;
	max-width: 300px;
	min-height: 50px;
	height: 50px;
	max-height: 50px;
	float: none;
}
.contact-form textarea {
	min-width: 270px;
	width: 270px;
	max-width: 270px;
	display: block;
}
.contact-form button, .contact-form button:hover, .contact-form button:focus {
	margin: 0 auto;
	width: 290px;
	display: block;
}

.ruserlist {
    left: 100px;
}
#free_users {
	margin-top: -45px;
}
}

/* Mobile portrait layout */
@media (max-width: 479px) {
body {
	padding-right: 0;
	padding-left: 0;
}
.section {
	margin-top: -139px;
	width: 64px;
	height: 64px;
}
.section .section-title {
	margin: 17px 5px;
}
.section .section-title strong, .section .section-title p {
	display: none;
}

.ruserlist {
    left: 70px;
}

#free_users {
	margin-top: -225px;
}
}

.userlist {
    position: absolute;
    width: 150px;
    color: #99BDBA;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
}

.userlist ultitle{
    position: absolute;

    color: #99BDBA;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
}


.ultitle {
    color: #fff;

}

#free_users {
	width: 100%;
	position: absolute;
	top: 55%;
	text-align: center;
	margin-left: -10px;
}

/* Login form */

.loginform label {
	display: block;
	color: #FFF;
}
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
	outline: 0;
}

.loginform {
	width: 440px;
	position: absolute;
	top: 10px;
	left: 30%;
	margin: 50px auto;
	padding: 25px;
	background-color: rgba(245, 239, 239, 0.09);
	border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2),
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.loginform ul {
	padding: 0;
	margin: 0;
}
.loginform li {
	display: inline;
	float: left;
}
.loginform input:not([type=submit]) {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginform input {
	width: 140px;
}
.loginform input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	width: 100px;
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 25px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.loginform a:link {
    color: white;
}

.loginform a:visited {
    color: white;
}

.loginform a:hover {
    color: black;
}

#login .text-error {
	display: none;
}

/* Reg form */

.regform label {
    display: block;
    color: #FFF;
}

.regform {
    display: none;
    width: 160px;
    position: absolute;
    top: 10px;
    left: 40%;
    margin: 50px auto;
    padding: 25px;
    background-color: rgba(245, 239, 239, 0.09);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2),
                inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.regform ul {
    padding: 0;
    margin: 0;
}
.regform li {
    display: inline;
    float: left;
}
.regform input:not([type=submit]) {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
                0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.regform input {
    width: 140px;
}
.regform input[type=submit] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 120px;
    background: #64c8ef; /* Old browsers */
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    margin-top: 25px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.regform a:link {
    color: white;
}

.regform a:visited {
    color: white;
}

.regform a:hover {
    color: black;
}

.regbtnln {
    text-align: center;
    width: 100%;
}
#register .text-error {
	display: none;
}

/* Lobby add form */

.lbaddform label {
    display: block;
    color: #FFF;
}

.lbaddform {
    margin: 50px auto;
    padding: 25px;
    background-color: rgba(245, 239, 239, 0.09);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2),
                inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#modal-add{
	width: 384px;
}

.md-content button {
    /*margin-right: 10px;*/
}

.lbaddform li {
    display: inline;
    float: left;
    width: 100%;
}
.lbaddform input:not([type=submit]) {
	width: 240px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
                0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.lbaddform input {
    width: 140px;
}
.lbaddform input[type=submit] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100px;
    background: #64c8ef; /* Old browsers */
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    margin-top: 25px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.lbaddform a:link {
    color: white;
}

.lbaddform a:visited {
    color: white;
}

.lbaddform a:hover {
    color: black;
}
.lbaddform .text-error {
	display: none;
}

#modal-play {
	width: 520px;
}

.gamestatus {
	font-size: 16px;
	padding: 0 0 0 0;
}

#modal-play .text-error {
	display: none;
}


.roomlb .row-fluid {
	min-height: 10px;
}

.lbusers .row-fluid .span12{
	min-height: 10px;
}

#modal-join {
	width: 530px;
}
