{% load i18n %}
{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Some game</title>

<!-- Stylesheet -->
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/color/multicolor.css' %}" id="swap-color" />
{% endcompress %}
<link rel="shortcut icon" href="img/favicon.ico" />
{% compress js %}
<script src="{% static 'js/modernizr.custom.js' %}"></script>
{% endcompress %}
</head>
<body>

{% if request.user.is_authenticated %}
<style type="text/css">
  .loginform {
    display: none;
  }
  .section {
    display: initial;
  }
  #free_users {
    display: initial;
  }
  .section-signout {
    display: initial;

}</style>
{% endif %}

<div class="loginform cf">
  <form name="login" id="login" action="#" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <ul>
      <li>
        <label for="username">{% trans "Username" %}</label>
        <input type="name" name="username" placeholder="{% trans "yourname" %}" required>
      </li>
      <li>
        <label for="password">{% trans "Password" %}</label>
        <input type="password" name="password" placeholder="{% trans "password" %}" required></li>
      <li>
        <input type="submit" value="{% trans "Login" %}">
        <p><a href="#" id="shregform" class="reg">{% trans "Register" %}</a></p>
      </li>
    </ul>
    <p class="text-error"></p>
  </form>
</div>

<div class="regform cf">
  <form name="register" id="register" action="#" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <ul>
      <li>
        <label for="username">{% trans "Username" %}</label>
        <input type="name" name="username" placeholder="{% trans "username" %}" required>
      </li>
      <li>
        <label for="password">{% trans "Password" %}</label>
        <input type="password" name="password" placeholder="{% trans "password" %}" required></li>
      <li class="regbtnln">
        <p class="text-error"></p>
        <input type="submit" value="{% trans "Register" %}">
      </li>
    </ul>
  </form>
</div>

<div id="fortwo" class="section">
  <div class="userlist luserlist">
    <div class="row-fluid" id="two_users">
      <div class="span12 ultitle">{% trans "Playing users" %}</div>
    </div>
  </div>
  <div class="section-title">
    <p>{% trans "Lobby for" %}</p>
    <strong>{% trans "Two" %}</strong>
    <p>{% trans "players" %}</p>
    <span>
      <i id="twocnt">0</i>
    </span>
    <p>{% trans "open lobbys" %}</p>
  </div>

  <div class="container">
    <div class="rooms" id="tworooms">
     <div class="addroom md-trigger" id="addlbtwo" data-modal="modal-add">
        <i class="fa fa-plus"></i>
      </div>
    </div>
  </div>

</div>


<div id="forfour" class="section">
  <div class="userlist ruserlist" id="four_users">
    <div class="row-fluid" >
      <div class="span12 ultitle">{% trans "Playing users" %}</div>
    </div>
  </div>
  <div class="section-title">
    <p>{% trans "Lobby for" %}</p>
    <strong>{% trans "Four" %}</strong>
    <p>{% trans "players" %}</p>
    <span><i id="fourcnt">0</i>
    </span>
    <p>{% trans "open lobbys" %}</p>
  </div>

  <div class="container">
    <div class="rooms" id="fourrooms">
      <div class="addroom md-trigger" id="addlbfour" data-modal="modal-add">
        <i class="fa fa-plus"></i>
      </div>


    </div>
  </div>
</div>

<div class="userlist" id="free_users">
  <div class="row-fluid">
    <div class="span12 ultitle">{% trans "Users" %}</div>
  </div>
</div>

<a href="#" class="section-close">×</a>
<a href="#" class="section-signout"><i class="fa fa-sign-out"></i></a>


<div class="md-modal md-effect-1" id="modal-join">
  <div class="md-content">
    <h3>{% trans "Are you ready?" %}</h3>
    <div>
      <p>{% trans "Do you realy want to join to this lobby?" %}</p>
      <p>{% trans "Choice between embracing the sometimes painful truth of reality (red) and the blissful ignorance of illusion (blue)." %}</p>

      <div class="row-fluid ynbt" style="width: 300px; margin-left: 30px;">
        <div class="span1"><button class="btn btnyes btn-danger">{% trans "Ready" %}</button></div>
        <div class="span10"></div>
        <div class="span1"><div class="btn btn-info md-close btnno">{% trans "No" %}</div></div>
      </div>
    </div>
  </div>
</div>


<div class="md-modal md-effect-1" id="modal-add">
  <div class="md-content">
    <h3>{% trans "New lobby add" %}</h3>
    <div class="lbaddform cf">
      <form name="lbadd" id="lbadd" action="#" method="post" accept-charset="utf-8">
        <p class="text-error"></p>
        <input type="hidden" name="lbtype" id="lbtype" value="">
        <ul>
          <li>
            <label for="lbtitle">{% trans "Lobby name" %}</label>
            <input type="name" name="lbtitle" placeholder="">
          </li>
          <li>
            <div class="row-fluid ynbt">
              <div class="span1"><button class="btn btn-info btnyes" data-modal="modal-play">{% trans "add" %}</button></div>
              <div class="span10"></div>
              <div class="span1"><div class="btn btn-danger md-close btnno">{% trans "No" %}</div></div>
            </div>
          </li>
        </ul>
      </form>

    </div>
  </div>
</div>


<div class="md-modal md-effect-1" id="modal-play" data-lobbyid=''>
  <div class="md-content">
    <h3>{% trans "Cool game!" %}</h3>
    <p class="text-error" style="text-align: center;"></p>
    <div id="gms_wait" class="gamestatus">{% trans "Waiting for the others..." %}</div>
    <div id="gms_wait_start" class="gamestatus">{% trans "Waiting game start" %}</div>
    <div id="gms_start" class="gamestatus"><div class="btn default-btn btn-info disabled" id="startgame">{% trans "Waiting for the others..." %}</div></div>
    <div id="gms_playing" class="gamestatus">{% trans "surprize surprize... you are playing" %}</div></li>
    <div id="gms_forb" class="gamestatus">{% trans "game is already started" %}</div>

    <pre class="ang">
         _.-'~~~~~~`-._
        /      ||      \
       /       ||       \
      |        ||        |
      | _______||_______ |
      |/ ----- \/ ----- \|
     /  (     )  (     )  \
    / \  ----- () -----  / \
   /   \      /||\      /   \
  /     \    /||||\    /     \
 /       \  /||||||\  /       \
/_        \o========o/        _\
  `--...__|`-._  _.-'|__...--'
          |    `'    |
        </pre>
      <div class="row-fluid" style="padding-left: 0px;">
        <div class="span12"><button class="md-close btnno">{% trans "Exit" %}</button></div>
      </div>
    </div>
  </div>
</div>
<div class="md-overlay"></div>
<div style="display:none">
  <div class="row-fluid" id="cpusr">
     <div class="span12"></div>
  </div>

  <div class="room" id="cproom">
    <i class="fa fa-users"></i>
    <div class="roomlb">
      <h3></h3>
      <div class="row-fluid">
        <div class="span6"><p class="lbstatus"></p></div>
        <div class="span3"><p>{% trans "connected" %}: </p></div>
        <div class="span3"><p class="concnt"></p></div>
      </div>
    </div>
    <div class="roomusers">
      <div class="row roomusersls">
        <div class="span6 ultitle">{% trans "Users" %}</div>
        <div class="span6 lbusers">
        </div>
      </div>
    </div>
  </div>

</div>
<p class="hidden" id="tr_wait">{% trans "Waiting for the others..." %}</p>
<p class="hidden" id="tr_start">{% trans "Start" %}</p>


<p class="hidden" id="st_wait">{% trans "recruiting participants" %}</p>
<p class="hidden" id="st_wait_start">{% trans "recruiting finished" %}</p>
<p class="hidden" id="st_playing">{% trans "game started" %}</p>

{% compress js %}
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/modalEffects.js' %}"></script>

<!-- Scripts -->
<script>
  // this is important for IEs
  var polyfilter_scriptpath = '{% static 'js/' %}';
</script>
<script src="{% static 'js/cssParser.js' %}"></script>
<script src="{% static 'js/css-filters-polyfill.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.10.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
{% endcompress %}

{% if request.user.is_authenticated %}
<script type="text/javascript">
  $(document).ready(function () {
    load_data();
  });
</script>
{% endif %}

</body>
</html>
