@charset "utf-8";
/* CSS Document */

/* Statti Color CSS v1.0 by Angelo Mazzilli */
/* http://themeforest.net/user/AngeloM */


/* Sections About */
.section#fortwo, .section-fortwo i.active {
	background: #FC0;
}

/* Sections Services */
.section#forfour, .section-forfour i.active {
	background: #AD0;
}
